.container {
    position: fixed;
    bottom: -100vh;
    animation: fadeIn 1s forwards;
    z-index: 1;
}
.passwordContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    animation: fadeIn2 2s forwards;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    color: white;
    height: 120px;
    align-items: center;
    justify-content: space-between;
}
.icon {
    font-size: 32px;
    cursor: pointer;
}
.inputText {
    background: rgba(255,255,255,0.5);
    border: none;
    border-radius: 8px;
    padding: 12px;
    user-select: none;
    outline: none;
    flex-grow: 1;
    &::placeholder {
        color: black;
    }
}
.passwordWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
      width: 0px;
      height: 0px;
      border-radius: 0px;
    }
    100% {
      opacity: 1;
      width: 300vh;
      height: 300vh;
      border-radius: 300vh;
    }
  }

  @keyframes fadeIn2 {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0;
      }
    100% {
      opacity: 1;
    }
  }