.container {
    position: fixed;
    bottom: -100vh;
    animation: fadeIn 1s forwards;
    z-index: 1;
}
.bookContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 10vh 0 10vh 0;
    display: flex;
    flex-direction: column;
    animation: fadeIn2 2s forwards;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    z-index: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    color: white;
    width: 80vw;
    height: 120px;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}

.inputText {
    background: rgba(255,255,255,0.5);
    border: none;
    border-radius: 8px;
    padding: 12px;
    user-select: none;
    outline: none;
    flex-grow: 1;
    &::placeholder {
        color: black;
    }
}

.cover {
    height: 150px;
    border: 2px solid white;
}
.data {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
}
.title {
    font-size: 26px;
    font-weight: bold;
}
.author {
    font-size: 20px;
    font-style: italic;
}
.bookWrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 16px;
}

.iconTopbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    box-shadow: 0 0 32px 32px rgba(0,0,0,0.5);
}
.iconClose {
    width: 100vw;
    font-size: 32px;
    color: white;
    position: fixed;
    top: 16px;
    cursor: pointer;
    right: 16px;
}
.linkContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
}
.link {
    text-decoration: none;
    display: flex;
    gap: 8px;
    align-items: center;
    text-align: left;
    color: white;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
      width: 0px;
      height: 0px;
      border-radius: 0px;
    }
    100% {
      opacity: 1;
      width: 300vh;
      height: 300vh;
      border-radius: 300vh;
    }
  }


  @keyframes fadeIn2 {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0;
      }
    100% {
      opacity: 1;
    }
  }